@{
    ViewBag.Title = "Home Page";
}

@{ 

}

<div class="jumbotron">
    <h1>MathiasWeb. C'est bien.</h1>
    <p class="lead">M.A.T.H.I.A.S. est une intelligence artificielle fonctionnant en liaison avec la toute dernière version du Microsoft Kinect. Mathias intègre un module de reconnaissance vocale et faciale pour une identification automatique de l'utilisateur. </p>
    <p>Les fonctions disponible sont : Lecture des emails, bulletin météo, controle domotique et bien plus encore.</p>   
     <p><a href="http://disney.com/" class="btn btn-primary btn-lg">C'est génial ! En savoir plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Respectueux de la vie privé</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Compilé avec amour</h2>
        <p>Mathias est développé par une équipe de jeune hommes au grand coeur soucieux du bonheur de l'humanité. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>